<%- include('include/_header') %> 

<main id="main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/">All users</a>
            </div>
        </div>
        <h4>Add user</h4>

        <!-- form handling  -->
        <%- include('include/_form') %> 

    </div>
</main>

<%- include('include/_footer') %> 
    